<div class="modal-header header-blue">
    <h3 class="modal-title" id="modal-title">Plano {{numeroPedido}}!</h3>
</div>
<div class="modal-body" id="modal-body">
    <i class="fa fa-thumbs-up fa-4x icon-blue" aria-hidden="true"></i>
    <h2>Plano criado com sucesso!</h2>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="novoPlano()"><i class="fa fa-file-o" aria-hidden="true"></i> Criar novo plano</button>
    <button class="btn btn-warning" type="button" ng-click="gotoHome()"> OK</button>
</div>

