<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row logos">
            <div class="col-md-2">
                <a href="#/home"><img class="pull-left img-responsive logo-ype" src="images/logo_ype.jpg"></a>
            </div>
            <div class="col-md-10">
                <span class="banner-ype">
                    <img class="pull-right img-responsive" src="images/banners/banner1.jpg">
                    <span class="title">Desconto 10%</span>
                </span>
                <span class="banner-ype">
                    <img class="pull-right img-responsive" src="images/banners/banner2.jpg">
                    <span class="title">Desconto 15%</span>
                </span>
                <span class="banner-ype">
                    <img class="pull-right img-responsive" src="images/banners/banner3.jpg">
                    <span class="title">Desconto 18%</span>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-transclude ng-class="{ 'panel-body-form':type==='form' }">
    </div>
</div>
