<panel title="Cadastro de Eventos" linkback="eventos">
    <div uib-collapse="collapseFormEvento" class="well">
        <button type="button" ng-click="closeTabs()" class="btn btn-danger  pull-right"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        <uib-tabset active="tabactive">
            <uib-tab index="0" heading="Evento">
                <div class="row flex-row">
                    <entry title="Tipo Evento" onlyview="viewEvento" type="select" size="4" model="evento.tipoEvento" list="listaTipos"></entry>
                    <entry title="Sub" onlyview="viewEvento" type="select" size="3" model="evento.subTipoEvento" list="evento.tipoEvento.subs"></entry>
                    <entry title="Programa" onlyview="viewEvento" type="select" size="3" model="evento.programa" list="listaProgramas"></entry>
                    <a href="https://ec2-52-67-23-140.sa-east-1.compute.amazonaws.com/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html#MarketingPlanner-managePrograms&/detail/Programs(guid'02000a1b-aa8f-1ed5-b78b-7aad19f42c6d')" class="btn btn-primary pull-right btn-space-top" target="_blank">Programas</a>
                </div>
                <div class="row flex-row">
                    <entry title="Nome" onlyview="viewEvento" type="text" size="6" model="evento.nome"></entry>
                    <entry title="Local" onlyview="viewEvento" type="text" size="6" model="evento.local"></entry>
                </div>
                <div class="row flex-row">
                    <entry title="Data inicio" onlyview="viewVoluntario" type="datepicker" size="3" model="evento.dataInicio"></entry>
                    <entry title="Hora inicio" onlyview="viewEvento" type="text" size="2" model="evento.horaInicio"></entry>
                    <entry title="Data/hora inicio" onlyview="viewVoluntario" type="datepicker" size="3" model="evento.dataFim"></entry>
                    <entry title="Hora fim" onlyview="viewEvento" type="text" size="2" model="evento.horaFim"></entry>
                </div>
                <div class="row flex-row">
                    <entry title="Descrição" onlyview="viewEvento" type="textarea" size="12" model="evento.descricao"></entry>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right btn-space-left" ng-click="salvarEvento()">Salvar Evento</button>
                        <!-- <button type="submit" class="btn btn-success pull-right btn-space-left" ng-click="gotoDashBoard()">DashBoards</button> -->


                        <a class="btn btn-success pull-right btn-space-top" target="_blank" href="https://epmprod88bd242fdb0.us1.hana.ondemand.com/sap/fpa/ui/tenants/presalesbrazil/bo/story/588691433A3E177DE10000000A6C988B?mode=embed">DashBoards</a>

                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Convidados">
                <div class="row">
                    <div class="col-md-5 col-border">
                        <div class="row flex-row">
                            <entry title="Grupo Alvo" onlyview="viewEvento" type="select" size="6" model="convidadoGrupoAlvo.grupo" list="listaGrupos"></entry>
                            <!-- <entry title="Cliente Interno" onlyview="viewEvento" type="text" size="6" model="convidadoGrupoAlvo.clienteInterno"></entry> -->
                            <entry title="Cliente Interno" onlyview="viewEvento" type="select" size="6" model="convidadoGrupoAlvo.clienteInterno" list="listaClientesInternos"></entry>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="addConvidadoGrupoAlvo()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                        <a href="https://ec2-52-67-23-140.sa-east-1.compute.amazonaws.com/sap/bc/percsui5_ui5/sap/cuan_shell/index.html?sap-hpa-fiori=true#TARGETGROUPS" class="btn btn-primary" target="_blank">Grupos Alvos</a>
                        <div class="row flex-row">
                            <div class="table-responsive">
                                <table class="table table-hover table-font-sm">
                                    <thead>
                                        <tr>
                                            <th>Grupo Alvo</th>
                                            <th>Descrição</th>
                                            <th>Cliente Interno</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="grupo in evento.grupos">
                                            <td>{{grupo.grupo.name}}</td>
                                            <td>{{grupo.grupo.desc}}</td>
                                            <td>{{grupo.clienteInterno.name}}</td>
                                            <td>
                                                <button type="button" ng-click="removerItemLista()" class="btn btn-xs btn-danger  pull-right"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>GA-SP Silver</td>
                                            <td>Grupo Alvo São Paulo Silver</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GA-SP Bronze</td>
                                            <td>Grupo Alvo São Paulo Bronze</td>
                                            <td></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-border">
                        <div class="row flex-row">
                            <entry title="Nome" onlyview="viewEvento" type="text" size="6" model="convidadoAvulso.nome"></entry>
                            <entry title="Email" onlyview="viewEvento" type="text" size="6" model="convidadoAvulso.email"></entry>
                        </div>
                        <div class="row flex-row">
                            <entry title="Telefone" onlyview="viewEvento" type="text" size="6" model="convidadoAvulso.telefone"></entry>
                            <!-- <entry title="Cliente Interno" onlyview="viewEvento" type="text" size="6" model="convidadoAvulso.clienteInterno"></entry> -->
                            <entry title="Cliente Interno" onlyview="viewEvento" type="select" size="6" model="convidadoAvulso.clienteInterno" list="listaClientesInternos"></entry>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="addConvidadoAvulso()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                        <div class="row flex-row">
                            <div class="table-responsive">
                                <table class="table table-hover table-font-sm">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Email</th>
                                            <th>Telefone</th>
                                            <th>Cliente Interno</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="convidado in evento.convidados">
                                            <td>{{convidado.name}}</td>
                                            <td>{{convidado.email}}</td>
                                            <td>{{convidado.telefone}}</td>
                                            <td>{{convidado.clienteInterno.name}}</td>
                                            <td>
                                                <button type="button" ng-click="removerItemLista()" class="btn btn-xs btn-danger  pull-right"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Mauricio tomaz</td>
                                            <td>maurithgmail.com</td>
                                            <td>1199855544</td>
                                            <td>Presidencia SH1</td>
                                        </tr>
                                        <tr>
                                            <td>Angelina Razutti</td>
                                            <td>angel@ig.com.br</td>
                                            <td>1199445454</td>
                                            <td></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right btn-space-top" ng-click="salvarEvento()">Salvar Convidados</button>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Cotas">
                <div class="row flex-row">
                    <entry title="Cotas" type="text" size="4" model="evento.cotas"></entry>
                    <a id="porSugestao" ng-disabled="tipoCota=='s'" class="btn btn-primary pull-right btn-space-top" ng-click="selectCota('s')">Por Sugestão</a>
                    <a id="porPercentual" ng-disabled="tipoCota=='p'" class="btn btn-primary pull-right btn-space-top" ng-click="selectCota('p')">Por Percentual</a>
                    <a id="porQuantidade" ng-disabled="tipoCota=='q'" class="btn btn-primary pull-right btn-space-top" ng-click="selectCota('q')">Por Quantidade</a>
                </div>
                <div class="row flex-row">
                    <div class="table-responsive">
                        <table class="table table-hover table-font-sm">
                            <thead>
                                <tr>
                                    <th>Cliente Interno</th>
                                    <th>Cotas</th>
                                    <th>%Cotas</th>
                                    <th>Lista Espera</th>
                                    <th>%Lista Espera</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr ng-repeat="(key, calcItem) in listaCalcTipos">
                                    <td>{{calcItem.name}}</td>
                                    <td ng-hide="tipoCota=='q'">{{calcItem.values[0]}}</td>
                                    <td ng-show="tipoCota=='q'">
                                        <input type="text" ng-model="calcItem.values[0]" ng-change="teste1()">
                                    </td>
                                    <td ng-hide="tipoCota=='p'">{{calcItem.values[1]}}%</td>
                                    <td ng-show="tipoCota=='p'">
                                        <input type="text" ng-model="calcItem.values[1]" ng-change="teste1()">%</td>
                                    <td></td>
                                    <td></td>
                                </tr> -->
                                <tr ng-repeat="(key, label) in listaCalcTipos">
                                    <td>{{label.name}}</td>
                                    <td ng-hide="tipoCota=='q'">{{getCotas(key)}}</td>
                                    <td ng-show="tipoCota=='q'">
                                        <input type="text" value="{{getCotas(key)}}">
                                    </td>
                                    <td ng-hide="tipoCota=='p'">{{getPercCota(key)}}%</td>
                                    <td ng-show="tipoCota=='p'">
                                        <input type="text" value="{{getPercCota(key)}}">%</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <!-- <tfoot>
                                <td></td>
                                <td><span >{{totalQ}}</span></td>
                                <td><span >{{totalP}}</span></td>
                                <td></td>
                                <td></td>
                            </tfoot> -->
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right btn-space-top" ng-click="salvarEvento()">Salvar Cotas</button>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="3" heading="Convite">
                <div class="row flex-row">
                    <entry title="Número do RSVP" onlyview="viewEvento" type="text" size="5" model="evento.numeroRSVP"></entry>
                    <!-- <entry title="Template yMkt" onlyview="viewEvento" type="select" size="4" model="evento.templateYMkt" list="listaTemplateYMkt"></entry> -->
                    <a href="https://ec2-52-67-23-140.sa-east-1.compute.amazonaws.com/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html#MarketingContent-showList&/sap-iapp-state=ASQ618R4DPUQ0Q4QW0IH8V3THSVIYANTZAR7LGHX" target="_blank" class="btn btn-primary pull-right btn-space-top" ">Templates</a>

                    <entry title="Gerar Pass Wallet " onlyview="viewEvento " type="checkbox " size="3 " model="evento.passWallet "></entry>
                    <img class="wallet" src="/images/apple.png">
                    <img class="wallet" src="/images/google.png">
                </div>
                <div class="row flex-row ">
                    <entry title="Banner Convite " onlyview="viewEvento " type="file" size="3" model="evento.arquivoBanner "></entry>
                    <entry title="Template Convite" onlyview="viewEvento" type="select" size="2" model="evento.templateConvite" list="listaTemplateConvite"></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->

                    <entry title="Rodapé " onlyview="viewEvento " type="file " size="5" model="evento.arquivoRodape "></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->
                </div>
                <div class="row flex-row ">
                </div>
                <div class="row flex-row ">
                    <entry title="Teaser " onlyview="viewEvento " type="file " size="3" model="evento.arquivoTeaser "></entry>
                    <entry title="Template Teaser" onlyview="viewEvento" type="select" size="2" model="evento.templateTeaser" list="listaTemplateTeaser"></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->
                    <entry title="Logomarca " onlyview="viewEvento " type="file " size="5" model="evento.arquivoLogomarca "></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->
                </div>
                <div class="row flex-row ">
                </div>
                <div class="row flex-row ">
                    <entry title="Página web " onlyview="viewEvento " type="file " size="3" model="evento.arquivoPagina "></entry>
                    <entry title="Template Rodapé" onlyview="viewEvento" type="select" size="2" model="evento.templateRodape" list="listaTemplateRodape"></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->
                    <entry title="Classificação Etária " onlyview="viewEvento " type="file " size="5" model="evento.arquivoClassificacao "></entry>
                    <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() "><i class="fa fa-search " aria-hidden="true "></i></button>
                    <!-- <button type="submit " class="btn btn-primary pull-right btn-space-top " ng-click="upload() ">Anexar</button> -->
                </div>
                <div class="row flex-row ">
                </div>
                <div class="row flex-row ">
                    <entry title="Canal de Envio " onlyview="viewEvento " type="select " size="6 " model="evento.canalEnvio " list="listaCanaisEnvio "></entry>
                    <entry title="Canal de RSVP " onlyview="viewEvento " type="select " size="6 " model="evento.canalRSVP " list="listaCanaisRSVP "></entry>
                </div>
                <!--  <div class="row ">
                    <entry title="Data Validade " onlyview="true " type="text " size="4 " model="dataValidade(voluntario.data_cadastro) "></entry>
                    <entry title="Status Atual " onlyview="true " type="text " size="4 " model="voluntario.status.nome.code "></entry>
                    <entry ng-show="voluntario.status.motivo.code " title="Motivo Status " onlyview="true " type="text " size="4 " model="voluntario.status.motivo.code "></entry>
                </div>
                <div class="row ">
                    <entry title="Alterar Status " type="select " size="4 " model="voluntario.status.nome " list="listaVoluntarioStatus "></entry>
                    <entry title="Alterar Motivo " type="select " size="4 " model="voluntario.status.motivo " list="listaVoluntarioMotivo "></entry>
                </div> -->
                <div class="row ">
                    <div class="col-md-12 ">
                        <button type="submit " class="btn btn-success pull-right btn-space-top " ng-click="salvarEvento() ">Salvar Convite</button>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
     <div class="input-group input-group-lg grupo-busca ">
        <span class="input-group-addon " id="sizing-addon1 "><i class="fa fa-search " aria-hidden="true "></i></span>
        <input type="text " class="form-control " placeholder="busca " aria-describedby="sizing-addon1 " ng-model="filtro ">
    </div>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>SubTipo</th>
                <th>Programa</th>
                <th>Local</th>
                <th>Data Inicio</th>
                <th>Cotas</th>
                <!-- <th>Ações</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="itemEvento in listaEventos | filter:filtro " ng-class="{ 'tr-selected': itemEvento.id==evento.id} ">
                <!-- 'tr-disabled':!itemEvento.ativo,  -->
                <td>{{itemEvento.id + 1}}</td>
                <td>{{itemEvento.nome}}</td>
                <td>{{itemEvento.tipoEvento.name}}</td>
                <td>{{itemEvento.subTipoEvento.name}}</td>
                <td>{{itemEvento.programa.name}}</td>
                <td>{{itemEvento.local}}</td>
                <td>{{itemEvento.dataInicio | date:'dd-MM-yyyy'}} - {{itemEvento.horaInicio}}</td>
                <td>{{itemEvento.cotas}}</td>
                <!-- <td> <span class="btn btn-info btn-xs " ng-click="visualizarEvento(itemVoluntario) "><i class="fa fa-search " aria-hidden="true "></i></span></td> -->
            </tr>
        </tbody>
    </table>
    <button type="button " class="btn btn-success pull-right " ng-show="collapseFormEvento " ng-click="novoEvento() "><i class="fa fa-plus " aria-hidden="true "></i> Adicionar Novo</button>
</panel>
