<panel title="" linkback="">
    <div class="row">
        <div class="col-md-9">
            <div class="row row-margin">
                <div class="col-md-12">
                    <div class="panel panel-ype panel-ype-fixed">
                        <div class="panel-heading"><i class="fa fa-user-circle" aria-hidden="true"></i> Plano de Negócio</div>
                        <div class="panel-body">
                            <div class="row flex-row home-entry ">
                                <!-- <entry title="" onlyview="viewEvento" type="select " size="4" model="convidadoGrupoAlvo.grupo " list="listaClientes"></entry>
 -->
                                <div class="col-md-6 form-mini form-label ">
                                    <div class="form-group ">
                                        <label>Tipo de conta</label>
                                        <div class="form-control client">CLIENTE</div>
                                    </div>
                                    <div class="form-group ">
                                        <entry title="Objetivo" type="select" size="12" model="plano.objetivo" list="listaObjetivos"></entry>
                                    </div>
                                    <div class="form-group ">
                                        <entry title="Data início" type="datepicker" size="12" model="plano.dataInicio"></entry>
                                    </div>
                                </div>
                                <div class="col-md-6 form-mini form-label">
                                    <div class="form-group ">
                                        <label>Cliente</label>
                                        <div class="form-control client">{{selectedClient.name | uppercase}}</div>
                                    </div>
                                    <div class="form-group ">
                                        <entry title="Nome do Plano" type="text" size="12" model="plano.nome"></entry>
                                    </div>
                                    <div class="form-group ">
                                        <entry title="Data Fim" type="datepicker" size="12" model="plano.dataFim"></entry>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="acoes">
                        <div class="item-list" ng-click="selecionaAcao(acao)" ng-repeat="acao in listaAcoes">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                            <label>{{acao.name}}</label>
                        </div>
                    </span>
                </div>
            </div>
            <div class="table-items">
                <table class="table table-hover table-responsive ">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>TIPO DE AÇÃO</th>
                            <th>VERBA</th>
                            <th>VOLUME DE COMPRA</th>
                            <th>%DESCONTO</th>
                            <th>TIPO PAGAMENTO</th>
                            <th>PREÇO UNITÁRIO</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="itemAcao in itensAcoes">
                            <td>{{itemAcao.sku}}</td>
                            <td>{{itemAcao.tipo}}</td>
                            <td>{{itemAcao.verba}}</td>
                            <td>{{itemAcao.volume}}</td>
                            <td>{{itemAcao.desconto}}</td>
                            <td>{{itemAcao.tipoPagamento}}</td>
                            <td>{{itemAcao.precoUnitario}}</td>
                
                            <!-- <td class="botao-excluir-row"> <span class="btn btn-danger btn-xs" ng-click="removerItem(itemPedido)"><i class="fa fa-times-circle" aria-hidden="true "></i></span></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button " class="btn btn-success pull-right " ng-show="collapseFormEvento " ng-click="novoEvento() "><i class="fa fa-floppy-o" aria-hidden="true "></i> Salvar Pedido</button>
        </div>
        <div class="col-md-3">
            <!-- <div class="panel panel-ype">
            <div class="panel-heading"><i class="fa fa-usd" aria-hidden="true"></i> Pedido de Vendas</div>
            <div class="panel-body">
            </div>
            </div> -->
            <div class="panel panel-ype panel-historico">
                <div class="panel-heading"><i class="fa fa-history" aria-hidden="true"></i> Histórico de planos</div>
                <div class="panel-body">
                    <table class="table table-hover ">
                        <!--                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                        </tr>
                    </thead> -->
                        <tbody>
                            <tr ng-repeat="item in selectedClientPlan.historicPlan">
                                <td>{{item.codigo}}</td>
                                <td>{{item.nome}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-click="abrirHistoricoPlan()"><i class="fa fa-history" aria-hidden="true"></i> Abrir Historico</button>
                </div>
            </div>
            <div class="panel panel-ype painel-mix">
                <div class="panel-heading"><i class="fa fa-link" aria-hidden="true"></i> Mix perfeito</div>
                <div class="panel-body">
                    <table class="table table-hover ">
                        <i ng-show="selectedClient.listaMixPlan.length == 0" class="fa fa-ban icon-bg   " aria-hidden="true"></i>
                        <tbody>
                            <tr ng-repeat="item in listMixPlan">
                                <!-- <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td> -->
                                <td>{{item.sku}} CX</td>
                                <td>{{item.verba}}</td>
                                <td>{{item.desconto}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-block" ng-click="adicionarMixPlan()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Adicionar Todos</button>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-lg btn-block btn-finish" ng-click="concluirPlano()"><i class="fa fa-shopping-cart " aria-hidden="true"></i> Concluir plano</button>
        </div>
    </div>

     <div class="row field-footer">
         <entry title="Justificativa" type="text" size="9" model="plano.justificativa" ></entry>
     </div>
  <!--   <div class="row row-info">
        <div class="col-md-2">
            <i class="fa fa-hashtag" aria-hidden="true"></i> Itens: {{totalItems}}
        </div>
        <div class="col-md-2">
            <i class="fa fa-cube" aria-hidden="true"></i> Caixas: {{totalItems/5 | limitTo:3}}
        </div>
        <div class="col-md-2">
            <i class="fa fa-th-large" aria-hidden="true"></i> Paletes: {{totalItems/40 | limitTo:3}}
        </div>
        <div class="col-md-2">
            <i class="fa fa-balance-scale" aria-hidden="true"></i> Peso Total: {{totalItems * .5 | limitTo:3}}kg
        </div>
        <div class="col-md-2">
            <i class="fa fa-arrows-h" aria-hidden="true"></i> Volume: {{totalItems/20 | limitTo:3}}m3
        </div>
        <div class="col-md-2">
            <i class="fa fa-dollar" aria-hidden="true"></i> Total: {{valorTotal | currency : "R$ "}}
        </div>
    </div> -->
</panel>
